@use '@/styles/base/' as *;
.bg_ellipse {
  width: 400px;
  height: 400px;
  position: absolute;
  left: -30vw;
  top: -20vh;
  z-index: 1;
  border-radius: 50%;
  background: $color-gradient-purple;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem;
  transform: rotate(25deg);
  font-family: 'headings';
  color: $color-client-5;
  font-weight: 800;

  font-size: 1.5rem;
  letter-spacing: 1px;

  @media (min-width: 768px) {
    width: 640px;
    height: 640px;
    position: absolute;
    left: -20vw;
    top: -30vh;
  }
}
