.sidescroll {
    font-family: 'headings';
    color: rgb(247, 214, 214);
    font-size: 15rem;
    z-index: 1;
    margin: 0;
    white-space: nowrap;
    margin-top: auto;
    transition: all 2s ease-in-out;
}