@font-face {
  font-family: 'headings';
  src: url('/fonts/BebasNeue-Regular.otf');
}
@font-face {
  font-family: 'body';
  src: url('/fonts/Aileron-Regular.otf');
}

*,
body {
  margin: 0px;
  padding: 0;
  font-family: 'body';
}

h2 {
  font-family: 'headings';
}

canvas {
  border-radius: 8px;
  width: 100% !important;
}

@media (min-width: 900px) {
  canvas {
    width: 720px;
    height: auto;
  }
}
