.main {
  width: 100%;
  position: relative;
}

.section {
  position: relative;
}

.section-dots {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 90vh;
  z-index: -1;
}

.section-slider,
.section-about,
.section-testimonials {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  background: #4b528c;
  background: linear-gradient(135deg, #4b528c, #0c042e);
  background: linear-gradient(120deg, #f3d5e7, #e6d5df, #d7aced);
}

.wrapper {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 10;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(18, 18, 18, 0.309),
  5px 5px 20px rgba(40, 3, 41, 0.761);
}

