.dots {
    position: relative;
    height: 300%;
    background: #fff;
    filter: contrast(7);
    --mask: linear-gradient(rgb(35, 35, 35), rgba(234, 183, 245, 0.615));
}

.dots::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(#b835ff, transparent) 0 0/1em 1em space;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    content: "";
}