.about {
  width: 100%;
  height: 100svh;
  background: #8157c9;
  background: linear-gradient(135deg, #8157c9, #0b0612);
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    display: grid;
    place-content: center;
    border-radius: 8px;
    width: 80svw;
    height: 70%;
    background: #efedf4;
    background: linear-gradient(120deg, #b375d0, #4f1074);
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.596));
    transform: rotate(2.5deg);

    @media (min-width: 980px) {
      width: 60svw;
      height: 60svh;
    }
  }

  .text {
    padding: 32px;
    position: relative;
    z-index: 10;
    

    p {
      font-family: 'body';
      letter-spacing: 1px;
      font-size: clamp(1.25rem, 2vw, 2.5rem);
      color: rgb(255, 255, 255);
      font-weight: 600;
      text-shadow: 1px 1px 3px rgba(18, 18, 18, 0.309),
        5px 5px 20px rgba(40, 3, 41, 0.761);
    }
  }
}
